@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

.bod {
  color: white;
  text-align: center;
}

.title {
  font-family: "Roboto" sans-serif;
  font-size: 70px;
  text-align: left;
  font-size: 50px;
}

.mail {
  text-align: center;
}

.icon {
  text-align: center;
  vertical-align: middle;
}

.iconbox {
  width: 100%;
  display: flex;
}

.imgcontainer {
  display: flex;
  justify-content: right;
  margin-right: 10px;
  margin-left: 300px;
}

.img {
  width: 700px;
  height: 400px;
}

.link{
    display: flex;
}