@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.navbar {
  width: auto;
  height: auto;
  display: block;
  padding: 0.3% 2%;
}

.logo {
  width: 300px;
  height: 300px;
}

.imgwrapper {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.list {
  text-align: center;
  justify-content: center;
  padding: 0;
}

.item {
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: inline-block;
  padding: 15px 15px;
  font-family: 'Shadows Into Light';
}

.link {
  display: block;
  text-decoration: none;
  color: white;
  font-style: bold;
  font-size: 37px;
}

.item:hover,
.link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  font-size: 42px;
  transition: 0.2s;
  transform: scaleX(1);
  transform-origin: center;
}

.backdrp {
  /*
  background-image: url("./resources/webback.svg");
  /* <a href="https://www.freepik.com/free-vector/abstract-geometric-hexagon-memphis-black-white-background_14649413.htm#query=black%20animated%20background&position=7&from_view=search&track=ais">Image by starline</a> on Freepik */
  /*Image by <a href="https://www.freepik.com/free-vector/halftone-background-with-waves_13295063.htm#query=black%20animated%20background&position=12&from_view=search&track=ais">Freepik</a>*/
  /*background-size: cover;*/
  /*background-attachment: fixed;*/
  
  background-color: rgb(23, 28, 40);
}
