.navbar {
  width: auto;
  height: auto;
  display: block;
  padding: 0.3% 2%;
}

.logo {
  width: 300px;
  height: 300px;
}

.imgwrapper {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.list {
  text-align: center;
  justify-content: center;
  padding: 0;
}

.item {
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: inline-block;
  padding: 10px 10px;
}

.link {
  display: block;
  text-decoration: none;
  color: white;
  font-style: bold;
  font-size: 25px;
}

.item:hover,
.link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  font-size: 27px;
  transition: 0.2s;
  transform: scaleX(1);
  transform-origin: center;
}

.backdrp {
  background-image: url("./resources/webback.jpeg");
  background-size: cover;
  background-attachment: fixed;
}
