@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.quotediv {
  text-align: center;
  text-overflow: ellipsis;
}

.quote {
  color: white;
  font-family: 'Allura';
  font-size: 80px;
}
